@model TaxiPro.Models.ViewModels.StudentProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Student.FirstName @Model.Student.LastName</h4>
    <p>Address: @Model.Student.Address</p>
    <p>City: @Model.Student.City</p>
    <p>State: @Model.Student.State</p>
    <p>Zip: @Model.Student.Zip</p>
    <p>Phone: @Model.Student.Phone</p>
    <p>Notes: </p>
    @foreach (var evt in Model.Events.Where(e => e.Content == "Note"))
    {
        <p>@evt.User.UserName: @evt.Content</p>
    }
    
    <p>Course Results:</p>
    @foreach (var evt in Model.Events.Where(e => e.Content == "Note"))
    {
        <p></p>
    }
    

    <div>
        <a asp-action="Start" asp-route-id="@Model.Student.Id">Start Course</a> |
        <a asp-action="Edit" asp-route-id="@Model.Student.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
