@model TaxiPro.Models.ViewModels.TestSetViewModel

@{
    ViewData["Title"] = "GetTest";
}

<h2>Welcome, @Model.Student.FirstName @Model.Student.LastName</h2>

@foreach(var item in @Model.Questions)
{
    <form>
        <div>

            <h4> @item.Content </h4>
            @foreach (var opt in @item.Options)
            {
                <input id="@opt.QuestionId-@opt.Id" type="radio" name="@opt.QuestionId" />
                <label for="@opt.QuestionId-@opt.Id">@opt.Content</label>
            }
            <div>
                <input type="submit" />
            </div>

        </div>
    </form>

}


