@model TaxiPro.Models.ViewModels.TestSetViewModel

@{
    ViewData["Title"] = "GetTest";
   
}

<h2>Welcome, @Model.Student.FirstName @Model.Student.LastName</h2>

    <form asp-controller="Student" asp-action="AddTest" method="post" asp-route-id="@Model.Student.Id" asp-route-test="1">
@for(int i = 0; i < Model.Questions.Count(); i++ )
{
    int num = (i + 1);
        <div>

            <h4> @num.) @Model.Questions[@i].Content </h4>
            @foreach (var opt in Model.Questions[i].Options)
            {
                <div>
                    <input id="@opt.QuestionId-@opt.Id" type="radio" name="OptionIds[@i]" value="@opt.Id" />
                    <input name="StudentId" type="hidden" value="@Model.Student.Id" /> 
                    <label for="@opt.QuestionId-@opt.Id">@opt.Content</label>
                </div>
            }

        </div>

}
        <div>
            <input type="submit"/>
        </div>
    </form>


