@model TaxiPro.Models.Student
@{
    ViewData["Title"] = "StartMessageView";
}

<h2>Welcome @Model.FirstName @Model.LastName!</h2>
<p>You are about to begin the TaxiPro course. Once you begin the course YOU WILL NOT BE ABLE TO RESTART FOR ANY REASON. Pay close attention as you watch the following videos. Once the videos are completed you will begin testing . If you have any problems please alert the front desk attendant. </p> 
<input id="I-understand" name="I-understand" type="checkbox"><label for=" I-understand"> I, @Model.FirstName @Model.LastName, understand.</label>
<div>
    <a disabled class="IU btn btn-default" asp-action="GetVideo" asp-route-i="0" asp-route-eventId="@Context.Request.Query["eventId"]" asp-route-test="1" asp-route-studentId="@Model.Id">Get Started</a>
</div>